In [10]:
friends_name = ["Azan", "Abdul", "Ammad", "Hamza", "Yahya", "Moosa"]
name_of_cities = ["Lahore", "Islamabad", "Hyderabad", "Peshawar", "Bhawalpur", "Multan"]
distance = [2, 4, 6, 10, 16, 26]
relation_with_friends = [1, 3, 4, 7, 11, 18]
j = 0
for elem in friends_name:
    print("Friends_name:", elem, end=" , ")
    print("City:", name_of_cities[j], end=" , ")
    print("Distance:", distance[j], end=" , ")
    print("Relationship:", relation_with_friends[j])
    j += 1

Friends_name: Azan , City: Lahore , Distance: 2 , Relationship: 1
Friends_name: Abdul , City: Islamabad , Distance: 4 , Relationship: 3
Friends_name: Ammad , City: Hyderabad , Distance: 6 , Relationship: 4
Friends_name: Hamza , City: Peshawar , Distance: 10 , Relationship: 7
Friends_name: Yahya , City: Bhawalpur , Distance: 16 , Relationship: 11
Friends_name: Moosa , City: Multan , Distance: 26 , Relationship: 18

In [12]:
lst = [["Azan", "Lahore", 2, 1],["Abdul", "Islamabad", 4, 3],["Ammad", "Hyderabad", 6, 4],["Hamza", "Peshawar", 10, 7],
["Yahya", "Bhawalpur", 16, 11],["Moosa", "Multan", 26, 18]]
for i, j in enumerate(lst):
    print("Friends_Name:",lst[i][0],",","City:",lst[i][1],",","Distance:",lst[i][2],",","Relationship:",",",lst[i][3])

Friends_Name: Azan , City: Lahore , Distance: 2 , Relationship: , 1
Friends_Name: Abdul , City: Islamabad , Distance: 4 , Relationship: , 3
Friends_Name: Ammad , City: Hyderabad , Distance: 6 , Relationship: , 4
Friends_Name: Hamza , City: Peshawar , Distance: 10 , Relationship: , 7
Friends_Name: Yahya , City: Bhawalpur , Distance: 16 , Relationship: , 11
Friends_Name: Moosa , City: Multan , Distance: 26 , Relationship: , 18

In [13]:
new_list = []
compare = data[2]
data = ["Azan", "Lahore", 26, 1,
        "Abdul", "Islamabad", 2, 3, 
        "Ammad", "Hyderabad", 10, 4,
        "Hamza", "Peshawar", 6, 7, 
        "Yahya", "Bhawalpur", 4, 11, 
        "Moosa", "Multan", 16, 18]
compare = data[2]
for i in range(2, len(data), 4):
    print(data[i])
    if compare > data[i]:
        print("Unsorted List")
for j in range(0, len(data), 4):
    new_list.append(data[j:j+4])
print("\n")    
print(new_list, "\n")
def sort(a):
    return(a[2])

print("SORTED LIST DISTANCE WISE:","\n")
print(sorted(new_list, key=sort))

26
2
Unsorted List
10
Unsorted List
6
Unsorted List
4
Unsorted List
16
Unsorted List


[['Azan', 'Lahore', 26, 1], ['Abdul', 'Islamabad', 2, 3], ['Ammad', 'Hyderabad', 10, 4], ['Hamza', 'Peshawar', 6, 7], ['Yahya', 'Bhawalpur', 4, 11], ['Moosa', 'Multan', 16, 18]]

SORTED LIST DISTANCE WISE:

[['Abdul', 'Islamabad', 2, 3], ['Yahya', 'Bhawalpur', 4, 11], ['Hamza', 'Peshawar', 6, 7], ['Ammad', 'Hyderabad', 10, 4], ['Moosa', 'Multan', 16, 18], ['Azan', 'Lahore', 26, 1]]